/* COMMON */
.body__container {
    width: 860px;
    margin: 0 auto;
    border: 1px solid black;
    color: #000;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    color: palevioletred;
}

/* SECTION */
.section {
    width: 100%;
}
.section .inner {
    padding: 10px 80px;
    box-sizing: border-box;
}




/* HEADER */
header .inner {
    display: flex;
    box-sizing: border-box;
}
header .box--info {
    display: flex;
    width: 600px;    
}
header .box--info .profile-image {
    padding-top: 10px;
    margin-right: 30px;
}
header .box--info .profile-detail h1 {
    font-size: 40px;
}
header .box--info .job {
    margin-top: -16px;
    margin-bottom: 30px;
}
header .box--info .etc {
    font-size: 12px;
}
header .box--contract {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
header .box--contact li {
        display: flex;
        flex-direction: row-reverse;
}
header .box--contact .contact-title {
    font-size: 20px;
    font-weight: 500;
    color: palevioletred;
}


/* MAIN */
main{

}
main .inner{

}
main .inner section {
    margin-bottom: 40px;
}
main .inner section li {
    margin-bottom: 10px;
}
main .section--edu{

}
main .section--edu .edu-image {
    width: 14px;
    height: 14px;
}


main .section--edu li {
    display: flex;
}
main .section--edu li div:first-child {
    width: 30%;
    flex-direction: row;
}

main .section--edu li div:nth-child(3) {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
}




/* FOOTER */
footer {
    background-color: beige;
}
footer .inner {
    display: flex;
}
footer .inner div {
    flex: 1;
}



.vl {
    border-left: 2px solid black;
    height: 20px;
}
