/* Common */
* {
  text-decoration: none;
  box-sizing: border-box;
  /* background: #e2e2e2; */
}

.container {
  max-width: 1300px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2),
  0 1px 3px rgba(0, 0, 0, 0.1);
}


/* Controller */
.controller {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

/* Controller -- Color Theme */
.theme-color button {
  border: none;
  outline: none;
  background: inherit;
  padding: 5px;
  cursor: pointer;
}
.theme-color button:hover {
  transform: scale(calc(1.2));
}
.control__colors {
  display: flex;
  position: absolute;
  top: -50px;
  left: -50px;
  background: #d5d5d5;
  padding: 10px;
  border-radius: 5px;
}
.control__colors .controls__color {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
.control__colors .controls__color:hover {
  transform: scale(calc(1.3));
}
.invisible {
  display: none;
}

/* Controller - Mode Changer */
.mode-changer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode-changer span {
  display: flex;
  align-items: center;
}
.mode-changer span .sun-image {
  margin-left: 35px;
  width: 18px;
  height: 18px;
}
.mode-changer span .moon-image {
  margin-left: 10px;
  width: 18px;
  height: 18px;
}
/* The switch - the box around the slider */
.changer__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.changer__switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e2e2e2;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background: #e2e2e2;
  border-radius: 50%;
  transition: .4s ease;
}

input:checked + .slider {
  background: #2196F3;
}

input:checked + .slider::before {
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.side--section,
.main--section {
  height: 70%;
}


/* Side nav bar */
.side--section {
  width: 200px;
  border-right: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
.side--section .profile--box {
}
.side--section .profile__name {
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.side--section .profile__description {
  margin: 15px 0;
  font-size: 1rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.side--section .profile__description img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  /* filter: opacity(.5) drop-shadow(0 0 0 red) */
}
.side--section .nav--box {
  text-align: start;
}
.side--section .nav--box ul li {
  padding: 5px;
  font-size: 1rem;
}
.side--section .nav--box ul li a {
  color: #060606;
}
.side--section .nav--box ul li:hover a{
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
}
.side--section .nav--box ul li:not(last-child) {
  margin-bottom: 15px;
}

/* Main Common */
.main--section {
  overflow: hidden;
}
.section {
  width: 1000px;
  height: 100%;
  padding: 40px 80px;
}
.main--section .main--title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 5px;
}


/* About */
.about--me {
  display: flex;
  justify-content: space-between;
}
.about--me .about__wrapper {
  flex: 1;
}
.about--me .img__wrapper {
  width: 400px;
  display: flex;
  align-items: center;
}
.about--me .img__wrapper img {
  width: 100%;
  border-radius: 5px;
}
.about__wrapper p {
  line-height: 2rem;
  font-weight: 400;
}

/* Catching */
.catching {
}
.catching .catching__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.catching .catching__wrapper .horizontal-line {
  position: absolute;
  top: 40%; 
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
}
.catching .catching-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.catching .catching-item-wrapper .catching-item {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: rgba(0,0,0, .1);
}
.catching .catching-item-wrapper .catching-item img {
  width: 230px;
  border-radius: 5px;
}
.catching .catching-item-wrapper:last-child .catching-item img {
  margin: 10px 0;
}
.catching .catching-item-wrapper .catching-item h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
}
.catching .catching-item-wrapper .catching-item p {
  font-size: 1rem;
  line-height: 1.3rem;
}

/* Experience */
.experiences__wrapper {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 90%;
}
.experiences__wrapper .slider__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.experiences__wrapper .expriences__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 2400px;
  height: 100%;
  display: flex;
  transition: .4s ease;
}
.experiences__wrapper .expriences__slider .experience__item {
  width: 600px;
  height: 100%;
  display: flex;
}
.experience__item .image-box {
  width: 50%;
  display: flex;
  align-items: center;
}
.experience__item .image-box img {
  width: 100%;
}
.experience__item .paragraph {
  padding: 10px 20px;
  width: 50%;
}
.experience__item .paragraph h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: end;
}
.experience__item .paragraph .ex--content {
  margin-bottom: 20px;
  text-align: end;
}
.experience__item .paragraph .ex--desc {
  line-height: 2rem;
}
.btn-group div {
  cursor: pointer;
}
.btn-group div img { 
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
}
.btn-group div:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-120%);
}
.btn-group div:last-child {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(120%);
}

/* Skills */
.skills .skills_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 120px);
  grid-template-columns: repeat(2, 1fr);
}
.skills .skill__item {
  padding: 20px 50px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.07);
}
.skills .skill__item .skill-title-wrapper {
  display: flex;
  justify-content: space-between;
}
.skills .skill__item .skill-title-wrapper .skill--title {
  font-size: 1.2rem;
  font-weight: bold;
}
.skills .skill__item .full--bar {
  margin-top: 20px;
  width: 100%;
  height: 5px;
  background: black;
  position: relative;
  border-radius: 5px;
}
.skills .skill__item .full--bar .skill--bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  border-radius: 5px;
  background:rgb(216, 147, 147);
}

/* Contact */
.contact {
  position: relative;
}
.contact__wrapper ul {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact__wrapper ul li a img {
  transition: .3s ease;
}
.contact__wrapper ul li a:hover > img {
  transform: scale(calc(1.2));
}
.contact__wrapper p {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}


/* Changed */
.container {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2),
  0 1px 3px rgba(0, 0, 0, 0.07);
}
.slider:before {
	background: white;
}
.side--section {
	border-right: 1px solid #e2e2e2;
}

.gradient {
  color: transparent;
  background: linear-gradient(to bottom right, rgb(20, 4, 240),rgb(20, 4, 240), rgb(118, 35, 250), rgb(163, 129, 245) ,rgb(195, 6, 233));
  background-clip: text;
  -webkit-background-clip: text;
}