.container {
  width: 500px;
  height: 200px;
  border: 1px solid lightgray;

}

.box {
  width: 400px;
  background: lightgray;
  border-radius: 14px;
  margin: 50px auto;
}

.html {
  background: black;
  border-radius: 14px;
  width: 80%;
  color: #fff;
  text-align: center;
}

.css {
  background: black;
  border-radius: 14px;
  width: 60%;
  color: #fff;
  text-align: center;
}